<header>

    <div class="desplegable" (click)="toggleCrearRecetaDesplegable()">
        <div></div>
        <div></div>
    </div>
    <a [routerLink]="['/inicio/']">RecipyEnte</a>
  
    <div class="imagen" (click)="toggleCerrarSesionDesplegable()">
        ★
    </div>

    <div class="desplegable-contenido izq" [ngClass]="{'mostrar': mostrarCrearRecetaDesplegable}"(mouseleave)="cerrarDesplegable('crearReceta')">
        <a *appMostrarRoles="['ADMIN','USER']" (click)="crearReceta()">Crear Receta</a>
        <a *appMostrarRoles="['ADMIN','USER']" [routerLink]="['/recetas']" >Mis recetas</a>
        <a [routerLink]="['/inicio/']">Inicio</a>
    </div>
    <div class="desplegable-contenido der" [ngClass]="{'mostrar': mostrarCerrarSesionDesplegable}">
        <a *appMostrarRoles="['ADMIN','INVITADO','USER']" (click)="logOut()">Cerrar Sesión</a>
    </div>
</header>
