header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    background-color: #FFF9E9; /* Ajusta el color según tus necesidades */
    padding: 10px 0;
    font-size: 24px;
    z-index: 1; 
    box-shadow: 0 2px 2px #472110;
    font-family: 'TituloBonito';
}
header a{
    font-size: 5vh;
    font-style: normal;
    color: #692609;
    text-decoration: none;
}
.imagen{
    width: 30px;
    height: 30px;
    background-color: #B9581E;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    color: white;
}
.imagen img{
    width: 100%;
    height: auto;

}
.desplegable{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.desplegable div{
    background-color: #472110;
    width: 100%;
    height: 5px;
}