.caja-registrar{
    background-image: url('../../assets/fondos/Inicio.jpg');
    width: 100%;
    height: 93.5vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja-marco{
    width: 900px;
    height: 75%;
    background-color: #FFF9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.formulario-registrar{
    width: 96%;
    height: 95%;
    background-color: #FFF9E9;
    border: 2px solid #DB8243;
    border-radius: 20px;
    display: grid;
    grid-template-columns: [c1 izquierda-start]2fr[c2 izquierda-end derecha-start]1fr[c3 derecha-end];
    grid-template-rows: 
    [r1 nombre-start pasos-start]
    2fr
    [r2 nombre-end descripcion-start]
    4fr
    [r3 descripcion-end categoria-start]
    1fr
    [r4 categoria-end ingredientes-start]
    1fr
    [r5 ingredientes-end listaIngre-start]
    3fr
    [r6 pasos-end listaIngre-end]
    ;
}
.nombrereceta{
    padding: 10px;
    border: none;
    background: transparent;
    font-size: 40px;
    color: #55260F;
    box-shadow: none;
    grid-column: izquierda;
    grid-row: nombre;
}
.nombrereceta:focus{
    outline: none;
}
.contenedor{
    padding: 10px;
}
.contenedor-desImg{
    grid-column: izquierda;
    grid-row: descripcion;
    display: flex;
    justify-content: space-between;
}
.contenedor-descripcion{
    width: 60%;
}
.descripcion{
    height: 100%;
}
.contenedor-imagen{
    width: 40%;
}
.imagen{
    height: 100%;
    display: none;
}
.label-imagen{
    height: 100%;
    background-color: #FFF9E9;
    border: 2px solid #55260fa1; 
    box-shadow:  0 2px 2px rgba(0, 0, 0, 0.185);
    border-radius: 10px; 
    overflow: hidden;
    position: relative;
}
.label-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
}
.contenedor-catTie{
    grid-column: izquierda;
    grid-row: categoria;
    display: flex;
    justify-content: space-between;
}
.contenedor-categoria{
    width: 100%;
}
.contenedor-tiempo{
    width: 20%;
}
.contenedor-ingrediente{
    grid-column: izquierda;
    grid-row: ingredientes;
    display: flex;
    justify-content: space-between;
}
.contenedor-listaIng{
    grid-column: izquierda;
    grid-row: listaIngre;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.contenedor-instrucciones{
    grid-column: derecha;
    grid-row: pasos;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.instrucciones{
    height: 80%;
}
input,select,textarea{
    background-color: #FFF9E9;
    border: 2px solid #55260fa1; 
    box-shadow:  0 2px 2px rgba(0, 0, 0, 0.185);
    width: 95%; 
    padding: 0.5rem; 
    border-radius: 10px; 
    font-size: 1rem; 
    resize: none; 
    box-sizing: border-box; 
    color: #55260F;
}
label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #55260F;
}
input,select,textarea::placeholder{
    color: #5f4538;
    font-size: 12px;
}
.contenedor-botones{
    grid-column: derecha;
    grid-row: listaIngre;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
    gap: 10px;
}
.boton{
    border-radius: 100px;
    padding: 5px;
    color:white;
    border: none;
    font-size: 15px;
}
.crear{
    width: 90px;
    background-color: #55260F;

}
.cancelar{
    width: 80px;
    background-color: #7e5b4a;
}
