<div class="caja-registrar">
    <div class="caja-marco">

    
    <form (ngSubmit)="onSubmit()" method="post" class="formulario-registrar">


        <div >
            
            <input class="nombrereceta" id="nombre" type="text" [(ngModel)]="receta.nombre" name="nombre" placeholder="Nombre Receta" required>
        </div>
       
        <div>
            <label  for="descripcion">Descripción:</label>
            <textarea class="descripcion" id="descripcion" [(ngModel)]="receta.descripcion" name="descripcion" required placeholder="descripcion breve y detalles a anadir a la receta"></textarea>
        </div>
        
        <div class="contenedor-instrucciones">
            <label for="instrucciones">Instrucciones:</label>
            <textarea class="instrucciones"id="instrucciones" [(ngModel)]="receta.instrucciones" name="instrucciones"></textarea>
        </div>
        
        <div>
            <label for="tiempoPreparacion">Tiempo de Preparación:</label>
            <input  class="tiempo"id="tiempoPreparacion" type="text" [(ngModel)]="receta.tiempoPreparacion" name="tiempoPreparacion">
        </div>

        <div>
            <label for="imageFile">Imagen de la receta:</label>
            <input type="file" id="imageFile" (change)="onFileSelected($event)">
            <img *ngIf="imageSrc" [src]="imageSrc" class="preview-img" alt="Previsualización de la imagen">
        </div>



        <button class="crear" type="submit">Crear Receta</button>
        <button class="crear cancelar" (click)="regresoRecetas()"> Cancelar</button>
        Lista de ingredientes 
        <h1>lista ingredientes</h1>
        <div>
            <select [(ngModel)]="nuevoIngrediente.ingrediente" name="ingredienteSeleccionado" required>
                <option *ngFor="let ingrediente of todosLosIngredientes" [ngValue]="ingrediente">{{ingrediente.nombre}}</option>
            </select>
            Cantidad:
            <input type="number" [(ngModel)]="nuevoIngrediente.cantidad" name="cantidad" required>
            Unidades:
            <input type="text" [(ngModel)]="nuevoIngrediente.unidades" name="unidades" required>
            <button type="button" (click)="addIngredient()">Añadir Ingrediente</button>
        
          </div>
          
    </form>  
</div> 
</div>
