<main>

<div class="fondo">
    <div id="idMenuBuscadorPorIngrediente">
        <form (submit)="addIngredient($event)">
            <input type="text" placeholder="¿Qué tienes en tu nevera?" [(ngModel)]="searchTerm" (input)="filterIngredients()" list="ingredientes" name="ingredientes" autocomplete="off">
            <datalist id="ingredientes">
                <option *ngFor="let ingrediente of filteredIngredientes" [value]="ingrediente.nombre">{{ingrediente.nombre}}</option>
            </datalist>
            <input type="submit" value="Añadir">
        </form>
    </div>

    <div>
        <h3> ~ ~ ~ ~ ~ ~ ♥ ~ ~ ~ ~ ~ ~ </h3>
        <form (submit)="buscarPorIngredientes($event)" >
            <ul>
                <li *ngFor="let ingrediente of selectedIngredientes">
                    {{ingrediente.nombre}}
                    <input type="hidden" id="{{ingrediente.id}}{{ingrediente.nombre}}" value="{{ingrediente.id}}">
                    <button (click)="removeIngredient(ingrediente)">🗑️</button>
                </li>
            </ul>
            <input type="submit" value="Buscar">
        </form>
    </div>

    <div id="idMenuBuscadorPorNombre">
        <form (submit)="buscarPorNombre($event)">
            <input type="text" placeholder="¿Qué receta buscas?" name="nombreBuscar" autocomplete="off">
            <input type="submit" value="Buscar">
        </form>
    </div>

        <div class="contenedor">
          <div class="grid">
            <a [routerLink]="['/recetas/', receta.id]" class="caja" *ngFor="let receta of listaRecetas">
              <img src="../../assets/imagenes/categorias/Entrantes.jpg" alt="Imagen de {{ receta.nombre }}" class="imgCaja">
              <div class="receta-info">
                <h2 class="receta-nombre">{{ receta.nombre }}</h2>
                <p>Tiempo: {{ receta.tiempoPreparacion }}</p>
                <!-- <p>{{ receta.usuario.username }}</p> -->
              </div>
            </a>
          </div>
        </div>

</div>

</main>

