<main>
  <div *ngIf="receta" class="receta-container">
    <div class="receta-top">
      <div class="receta-info">
        <h1>{{ receta.nombre }}</h1>
        <p>{{ receta.descripcion }}</p>
      </div>
      <div class="receta-imagen">
        <img [src]="receta.imagenUrl" alt="Imagen de {{ receta.nombre }}">
      </div>
    </div>

    <div class="instrucciones">
      <h3>Instrucciones</h3>
      <p>{{ receta.instrucciones }}</p>
    </div>

    <div class="ingredientes">
      <h3>Ingredientes</h3>
      <div class="ingredientes-scroll">
        <div *ngFor="let ingrediente of receta.ingredientes" class="ingrediente-item">
          {{ ingrediente.ingrediente.nombre }} <span class="cantidad">- {{ ingrediente.cantidad }} {{ ingrediente.unidades }}</span>
        </div>
      </div>
    </div>

    <div class="comentarios">
      <h3>Comentarios y Valoraciones</h3>
      <ul>
        <li *ngFor="let valoracion of valoraciones">
          <div class="valoracion-estrellas">{{ mostrarEstrellas(valoracion.puntuacion) }}</div>
          <p>{{ valoracion.comentario }}</p>
        </li>
      </ul>
    </div>
  </div>
</main>
