<main>
  <div class="contenedor">
    <h1 class="titulo">Tus Recetas</h1>
    <div class="grid">
      <a [routerLink]="['/recetas/', receta.id]" class="caja" *ngFor="let receta of recetas">
        <img [src]="receta.imagenUrl" alt="Imagen de {{ receta.nombre }}" class="imgCaja">
        
        <div class="receta-info">
          <h2 class="receta-nombre">{{ receta.nombre }}</h2>
          <p>Tiempo: {{ receta.tiempoPreparacion }}</p>
          <div class="valoraciones">
            <p>{{estrella[receta.id] }}</p>
          </div>
          <button (click)="eliminarReceta(receta.id)" class="btn-eliminar">Eliminar</button>
          <button (click)="editarReceta(receta.id)" class="btn-editar">Editar</button>
        </div>
      </a>
    </div>
  </div>
</main>
