<main>
  <div class="contenedor">
    <h1 class="titulo">Tu Propio Rincón Gourmet</h1>
    <div class="grid">
      <a  class="caja" *ngFor="let receta of recetas">
        <img [routerLink]="['/recetas/', receta.id]"[src]="receta.imagenUrl ? receta.imagenUrl : '../../assets/imagenes/categorias/Entrantes.jpg'" alt="Imagen de {{ receta.nombre }}" class="imgCaja">
        
        <div class="receta-info">
          <h2 class="receta-nombre">{{ receta.nombre }}</h2>
          <p class="receta-tiempo">Listo en solo: {{ receta.tiempoPreparacion }}</p>
          <div class="valoraciones">
            <p class="estrella-recetas">{{ mostrarEstrellas(calcularPromedioValoracion(receta)) }}</p>
          </div>
          <button (click)="eliminarReceta(receta.id)" class="btn-eliminar">Retirar</button>
          <button (click)="editarReceta(receta.id)" class="btn-editar">Editar</button>
        </div>
      </a>
    </div>
  </div>
</main>
