<div class="caja-registrar">
    <div class="caja-marco">
      <form (ngSubmit)="onSubmit()" class="formulario-registrar">
        <!-- Nombre de la receta -->
        <div>
          <input class="nombrereceta" id="nombre" type="text" [(ngModel)]="receta.nombre" name="nombre" placeholder="Nombre Receta" required>
        </div>
  
        <!-- Descripción -->
        <div>
          <label for="descripcion">Descripción:</label>
          <textarea class="descripcion" id="descripcion" [(ngModel)]="receta.descripcion" name="descripcion" required placeholder="Descripción breve y detalles a añadir a tu receta"></textarea>
        </div>
        
        <!-- Instrucciones -->
        <div class="contenedor-instrucciones">
          <label for="instrucciones">Instrucciones:</label>
          <textarea class="instrucciones" id="instrucciones" [(ngModel)]="receta.instrucciones" name="instrucciones"></textarea>
        </div>
  
        <!-- Tiempo de Preparación -->
        <div>
          <label for="tiempoPreparacion">Tiempo de Preparación:</label>
          <input class="tiempo" id="tiempoPreparacion" type="text" [(ngModel)]="receta.tiempoPreparacion" name="tiempoPreparacion">
        </div>
        
        <!-- Botón para guardar los cambios de la receta -->
        <button class="crear" type="submit">Guardar Cambios de la Receta</button>
        
        <!-- Contenedor de Ingredientes -->
        <div class="contenedor-ingrediente">
          <h3>Ingredientes</h3>
          <ul>
            <!-- Lista de ingredientes existentes con opción de eliminar -->
            <li *ngFor="let ingrediente of receta.ingredientes">
              {{ ingrediente.ingrediente.nombre }} - {{ ingrediente.cantidad }} {{ ingrediente.unidades }}
              <button type="button" (click)="removeIngredient(ingrediente)">Eliminar</button>
            </li>
          </ul>
  
          <!-- Selector y entradas para añadir un nuevo ingrediente -->
          <h4>Añadir nuevo ingrediente:</h4>
          <select [(ngModel)]="nuevoIngrediente.ingrediente" name="ingredienteSeleccionado" required>
            <option *ngFor="let ingrediente of todosLosIngredientes" [ngValue]="ingrediente">{{ ingrediente.nombre }}</option>
          </select>
          <input type="number" [(ngModel)]="nuevoIngrediente.cantidad" name="cantidad" placeholder="Cantidad" required>
          <input type="text" [(ngModel)]="nuevoIngrediente.unidades" name="unidades" placeholder="Unidades (ej. g, ml)" required>
          <button type="button" (click)="addIngredient()">Añadir Ingrediente</button>
        </div>
      </form>
    </div>
  </div>
  