.caja-registrar{
    background-image: url('../../assets/fondos/Inicio.jpg');
    width: 100%;
    height: 93.5vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja-marco{
    width: 900px;
    height: 87%;
    background-color: #FFF9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 55px;

}
.formulario-registrar{
    width: 96%;
    height: 95%;
    background-color: #FFF9E9;
    border: 2px solid #DB8243;
    border-radius: 20px;
    display: grid;
    gap: 5px;
    grid-template-columns: [c1 izquierda-start]2fr[c2 izquierda-end derecha-start]1fr[c3 derecha-end];
    grid-template-rows: 
    [r1 nombre-start pasos-start]
    2fr
    [r2 nombre-end descripcion-start]
    4fr
    [r3 descripcion-end categoria-start]
    1fr
    [r4 categoria-end ingredientes-start]
    1fr
    [r5 ingredientes-end listaIngre-start botones-start]
    3fr
    [r6 pasos-end listaIngre-end botones-end]
    ;
}
.nombrereceta{
    padding: 10px;
    border: none;
    background: transparent;
    font-size: 40px;
    color: #55260F;
    box-shadow: none;
    grid-column: izquierda;
    grid-row: nombre;
}
.nombrereceta:focus{
    outline: none;
}
.contenedor{
    padding: 10px;
}
.contenedor-desImg{
    grid-column: izquierda;
    grid-row: descripcion;
    display: flex;
    justify-content: space-between;
}
.contenedor-descripcion{
    width: 60%;
}
.descripcion{
    height: 100%;
}
.contenedor-imagen{
    display: flex;
background-color: #FFF9E9;
  border: 2px solid #55260fa1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.185);
  width: 40%;
  border-radius: 10px;
  margin-top: 20px;
  height: 97%;
    align-items: center;
    justify-content: center;
    
}
.img-select{
    width: 100%;
    height: 100%;      /* Asegura que la imagen sea tan alta como el contenedor */
    object-fit: contain;
}

.imagen{
    height: 100%;
    display: none;
}
.label-imagen{
    height: 100%;
    background-color: #FFF9E9;
    border: 2px solid #55260fa1; 
    box-shadow:  0 2px 2px rgba(0, 0, 0, 0.185);
    border-radius: 10px; 
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-imagen b{
    font-size: 100px;
    font-weight: lighter;
    
}
.label-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
}
.contenedor-catTie{
    grid-column: izquierda;
    grid-row: categoria;
    display: flex;
    justify-content: space-between;
}
.contenedor-categoria{
    width: 100%;
    text-align: center;
}
.contenedor-tiempo{
    width: 20%;
    text-align: center;
    margin-top: 10px;
}
.tiempo::placeholder{
    text-align: center;
    font-size: 15px;
}
.tiempo{
    
        width: 113px;
        text-align: center;
    font-size: 15px;
        margin-top: 10px;
      
}
.contenedor-ingrediente{
    grid-column: izquierda;
    grid-row: ingredientes;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.contenedor-listaIng{
    grid-column: izquierda;
    grid-row: listaIngre;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-color: #55260F transparent;
    scrollbar-width: thin;
}
.placeholder {
    color: grey;
    
}
.contenedor-instrucciones{
    grid-column: derecha;
    grid-row: pasos;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.instrucciones{
    height: 80%;
}
input,select,textarea{
    background-color: #FFF9E9;
    border: 2px solid #55260fa1; 
    box-shadow:  0 2px 2px rgba(0, 0, 0, 0.185);
    width: 95%; 
    padding: 0.5rem; 
    border-radius: 10px; 
    font-size: 1rem; 
    resize: none; 
    box-sizing: border-box; 
    color: #55260F;
}
label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #55260F;
}
input,select,textarea::placeholder{
    color: #5f4538;
    font-size: 12px;
}
.contenedor-botones{
    grid-column: derecha;
    grid-row: botones;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
    gap: 10px;
}
.boton{
    border-radius: 100px;
    padding: 5px;
    color:white;
    border: none;
    font-size: 15px;
}
.crear{
    width: 90px;
    background-color: #55260F;
    margin-top: 8px;
}
.cancelar{
    width: 80px;
    background-color: #7e5b4a;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
}

li button {
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: crosshair;
    background-color: inherit;
    transition: background-color 0.3s ease;
}

  
  .popup-imagenes img {
    margin: 10px;
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 3px solid #55260F;
    border-radius: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  .popup-imagenes img:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen */
    filter: brightness(120%); 
    
    /* Hace la imagen más brillante */
}
  
  /* Oscurecer el fondo cuando el pop-up esté activo */
  main.popup-active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; /* Asegúrate de que esté detrás de las imágenes */
    transition: background-color 0.3s ease;
    display: none; /* Ocultar inicialmente */
}

.popup-imagenes:hover::before {
    display: block; /* Muestra el overlay cuando se pasa el mouse sobre cualquier parte del contenedor de imágenes */
}
.boton-cerrar{
    border: 2px solid #DB8243;
    border-radius: 20px;
    background-color: #55260F;
    color: #ccc;
    width: 136px;
    height: 81px;
    font-size: 20px;
  
}

.popup-imagenes {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Más alto que el ::before para que esté sobre el fondo oscuro */
    padding: 20px;
    box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFF9E9;
    border: 2px solid #DB8243;
    border-radius: 20px;
    width: 500px;
}

  .preview-img {
    max-width: 100%;
   
   
  }
  .contenedor-listaCat{
    overflow-y: auto;
    height: 58px;
    scrollbar-color: #55260F transparent;
    scrollbar-width: thin;
    width: 100%;
    border-radius: 10px;
  margin-top: 23px;
  margin-right: 29px;
  border: 2px solid #55260fa1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.185);
  }


@media screen and (max-width: 900px){
    .caja-marco{
        width: 500px;
        height: 734px;
    }
    .formulario-registrar{
        grid-template-columns: [c1 izquierda-start derecha-start]1fr[c2 izquierda-end derecha-start derecha-end];
        grid-template-rows: 
        [r1 nombre-start]
        2fr
        [r2 nombre-end descripcion-start]
        4fr
        [r3 descripcion-end categoria-start]
        1fr
        [r4 categoria-end ingredientes-start]
        1fr
        [r5 ingredientes-end listaIngre-start]
        3fr
        [r6 listaIngre-end pasos-start]
        4fr
        [r7 botones-start pasos-end]
        1fr
        [r8 botones-end]
        ;
    }
    .tiempo{
        width: 65px;
    }
    
      
}