<div class="caja">
    <form class="formulario" [formGroup]="registrarForm" method="post">
        <h2>Registro</h2>
        <p>Crea tu usuario :D</p>
        <div *ngIf="showError" class="errorMensaje"><h3>Error en el usuario o contraseña</h3></div>
        <div class="input usuario">
            <input type="text" name="usuario" formControlName="username" placeholder="Nombre de Usuario">
            <div class="alerta" *ngIf="registrarForm.get('username')?.invalid && registrarForm.get('username')?.touched">
                <h4 *ngIf="registrarForm.get('username')?.errors?.['required']">El nombre de usuario es OBLIGATORIO!!</h4>
                <h4 *ngIf="registrarForm.get('username')?.errors?.['minlength']">El nombre de usuario debe tener al menos 3 caracteres!!</h4>
                <h4 *ngIf="registrarForm.get('username')?.errors?.['invalidUsername']">El nombre de usuario no debe contener caracteres especiales!!</h4>
            </div>
        </div>
        <div class="input contra">
            <input type="password" name="password" formControlName="password" placeholder="Contraseña">
            <div class="alerta" *ngIf="registrarForm.get('password')?.invalid && registrarForm.get('password')?.touched">
                <h4 *ngIf="registrarForm.get('password')?.errors?.['required']">La contraseña es requerida!!</h4>
                <h4 *ngIf="registrarForm.get('password')?.errors?.['passwordLength']">La contraseña debe tener al menos 5 caracteres!!</h4>
                <h4 *ngIf="registrarForm.get('password')?.errors?.['passwordComplexity']">La contraseña debe contener números, letras minúsculas y mayúsculas!!</h4>
            </div>
        </div>
        <button class="Enviar" value="enviar" (click)="registro()">Registrarse</button>
        <button class="Enviar" value="enviar" (click)="login()">Iniciar Sesion</button>
    </form>
</div>