<div class="caja">
    <form class="formulario" [formGroup]="registrarForm" method="post">
        <h2>Registro</h2>
        <p>Crea tu usuario :D</p>
        <div class="input usuario">
            <input type="text" name="usuario" formControlName="username" placeholder="Nombre de Usuario">
        </div>
        <div class="input contra">
            <input type="password" name="password" formControlName="password" placeholder="Contraseña">
        </div>
        <button class="Enviar" value="enviar" (click)="registro()">Registrarse</button>
        <button class="Enviar" value="enviar" (click)="login()">Iniciar Sesion</button>
    </form>
</div>